In [70]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
data = pd.read_csv('kidney_disease.csv')
numeric_columns = data.select_dtypes(include=['number']).columns  
print(data.head())

   id   age    bp     sg   al   su     rbc        pc         pcc          ba  \
0   0  48.0  80.0  1.020  1.0  0.0     NaN    normal  notpresent  notpresent
1   1   7.0  50.0  1.020  4.0  0.0     NaN    normal  notpresent  notpresent
2   2  62.0  80.0  1.010  2.0  3.0  normal    normal  notpresent  notpresent
3   3  48.0  70.0  1.005  4.0  0.0  normal  abnormal     present  notpresent
4   4  51.0  80.0  1.010  2.0  0.0  normal    normal  notpresent  notpresent

   ...  pcv    wc   rc  htn   dm  cad appet   pe  ane classification
0  ...   44  7800  5.2  yes  yes   no  good   no   no            ckd
1  ...   38  6000  NaN   no   no   no  good   no   no            ckd
2  ...   31  7500  NaN   no  yes   no  poor   no  yes            ckd
3  ...   32  6700  3.9  yes   no   no  poor  yes  yes            ckd
4  ...   35  7300  4.6   no   no   no  good   no   no            ckd

[5 rows x 26 columns]

In [73]:
print(data.info)

<bound method DataFrame.info of       id   age    bp     sg   al   su     rbc        pc         pcc  \
0      0  48.0  80.0  1.020  1.0  0.0     NaN    normal  notpresent
1      1   7.0  50.0  1.020  4.0  0.0     NaN    normal  notpresent
2      2  62.0  80.0  1.010  2.0  3.0  normal    normal  notpresent
3      3  48.0  70.0  1.005  4.0  0.0  normal  abnormal     present
4      4  51.0  80.0  1.010  2.0  0.0  normal    normal  notpresent
..   ...   ...   ...    ...  ...  ...     ...       ...         ...
395  395  55.0  80.0  1.020  0.0  0.0  normal    normal  notpresent
396  396  42.0  70.0  1.025  0.0  0.0  normal    normal  notpresent
397  397  12.0  80.0  1.020  0.0  0.0  normal    normal  notpresent
398  398  17.0  60.0  1.025  0.0  0.0  normal    normal  notpresent
399  399  58.0  80.0  1.025  0.0  0.0  normal    normal  notpresent

             ba  ...  pcv    wc   rc  htn   dm  cad appet   pe  ane  \
0    notpresent  ...   44  7800  5.2  yes  yes   no  good   no   no
1    notpresent  ...   38  6000  NaN   no   no   no  good   no   no
2    notpresent  ...   31  7500  NaN   no  yes   no  poor   no  yes
3    notpresent  ...   32  6700  3.9  yes   no   no  poor  yes  yes
4    notpresent  ...   35  7300  4.6   no   no   no  good   no   no
..          ...  ...  ...   ...  ...  ...  ...  ...   ...  ...  ...
395  notpresent  ...   47  6700  4.9   no   no   no  good   no   no
396  notpresent  ...   54  7800  6.2   no   no   no  good   no   no
397  notpresent  ...   49  6600  5.4   no   no   no  good   no   no
398  notpresent  ...   51  7200  5.9   no   no   no  good   no   no
399  notpresent  ...   53  6800  6.1   no   no   no  good   no   no

    classification
0              ckd
1              ckd
2              ckd
3              ckd
4              ckd
..             ...
395         notckd
396         notckd
397         notckd
398         notckd
399         notckd

[400 rows x 26 columns]>

In [74]:
print(data.dtypes)

id                  int64
age               float64
bp                float64
sg                float64
al                float64
su                float64
rbc                object
pc                 object
pcc                object
ba                 object
bgr               float64
bu                float64
sc                float64
sod               float64
pot               float64
hemo              float64
pcv                object
wc                 object
rc                 object
htn                object
dm                 object
cad                object
appet              object
pe                 object
ane                object
classification     object
dtype: object

In [75]:
data[['pcv', 'wc', 'rc']] = data[['pcv', 'wc', 'rc']].apply(pd.to_numeric, errors='coerce')

In [76]:
data_cleaned = data
numeric_columns = ['age', 'bp','bgr','bu','sc','sod','pot','hemo','pcv','wc','rc']
data_cleaned[numeric_columns] = data[numeric_columns].fillna(data[numeric_columns].mean())
non_numeric_columns = ['sg', 'al','su','rbc','pc','pcc','ba','htn','dm','cad','appet','pe','ane'] 
for column in non_numeric_columns:
    data_cleaned[column] = data[column].fillna(data[column].mode()[0])

print(data_cleaned.isnull().sum())

id                0
age               0
bp                0
sg                0
al                0
su                0
rbc               0
pc                0
pcc               0
ba                0
bgr               0
bu                0
sc                0
sod               0
pot               0
hemo              0
pcv               0
wc                0
rc                0
htn               0
dm                0
cad               0
appet             0
pe                0
ane               0
classification    0
dtype: int64

In [78]:
print(data.describe())

               id         age          bp          sg         al          su  \
count  400.000000  400.000000  400.000000  400.000000  400.00000  400.000000
mean   199.500000   51.483376   76.469072    1.017712    0.90000    0.395000
std    115.614301   16.974966   13.476298    0.005434    1.31313    1.040038
min      0.000000    2.000000   50.000000    1.005000    0.00000    0.000000
25%     99.750000   42.000000   70.000000    1.015000    0.00000    0.000000
50%    199.500000   54.000000   78.234536    1.020000    0.00000    0.000000
75%    299.250000   64.000000   80.000000    1.020000    2.00000    0.000000
max    399.000000   90.000000  180.000000    1.025000    5.00000    5.000000

              bgr          bu          sc         sod         pot        hemo  \
count  400.000000  400.000000  400.000000  400.000000  400.000000  400.000000
mean   148.036517   57.425722    3.072454  137.528754    4.627244   12.526437
std     74.782634   49.285887    5.617490    9.204273    2.819783    2.716171
min     22.000000    1.500000    0.400000    4.500000    2.500000    3.100000
25%    101.000000   27.000000    0.900000  135.000000    4.000000   10.875000
50%    126.000000   44.000000    1.400000  137.528754    4.627244   12.526437
75%    150.000000   61.750000    3.072454  141.000000    4.800000   14.625000
max    490.000000  391.000000   76.000000  163.000000   47.000000   17.800000

              pcv            wc          rc
count  400.000000    400.000000  400.000000
mean    38.884498   8406.122449    4.707435
std      8.151081   2523.219976    0.840314
min      9.000000   2200.000000    2.100000
25%     34.000000   6975.000000    4.500000
50%     38.884498   8406.122449    4.707435
75%     44.000000   9400.000000    5.100000
max     54.000000  26400.000000    8.000000

In [82]:
# Drop rows with missing values
data_edited = data.dropna(inplace=True)

In [83]:
data_edited = data.drop_duplicates(inplace=True)

In [ ]:
data = data.drop(['id'], axis = 1)

In [86]:
unique_classes = data['classification'].unique()
print("Unique classifications:", unique_classes)

Unique classifications: ['ckd' 'notckd']

In [ ]:
data.replace('ckd\t', 'ckd', inplace = True)
unique_classes = data['classification'].unique()
print("Unique classifications:", unique_classes)